<!DOCTYPE html>
&lt;html lang="{{ site.lang | default: "en-US" }}"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
&lt;link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}"&gt;
&lt;link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32.png' | relative_url }}"&gt;
&lt;link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16.png' | relative_url }}"&gt;
&lt;title&gt;{{ site.title }}&lt;/title&gt;

{% seo %}
&lt;link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url
}}"&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="wrapper"&gt;
&lt;header&gt;
&lt;h1&gt;&lt;a href="{{ "/" | absolute_url }}"&gt;{{ site.title }}&lt;/a&gt;&lt;/h1&gt;

{% if site.logo %}
&lt;img src="{{site.logo | relative_url}}" alt="Logo" class="profile-img" /&gt;
{% endif %}

&lt;p class="site-description"&gt;Tech Entrepreneur and Senior Software Engineer &vert; CTO at Vest Social,
Inc.&lt;/p&gt;

&lt;div class="social-links"&gt;
&lt;a href="https://github.com/{{ site.github_username }}" target="_blank"&gt;GitHub&lt;/a&gt;
&lt;a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"&gt;LinkedIn&lt;/a&gt;
&lt;a href="mailto:{{ site.email }}"&gt;Email&lt;/a&gt;
&lt;/div&gt;
&lt;/header&gt;
&lt;section&gt;
{{ content }}
&lt;/section&gt;
&lt;/div&gt;
&lt;script src="{{ "/assets/js/scale.fix.js" | relative_url }}"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;